window {
margin: 0px;
border: 1px solid #bd93f9;
background-color: #282a36;
color: white
}

#input {
margin: 5px;
border: none;
background-color: #44475a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282a36;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
} 

#entry:selected {
background-color: #44475a;
}
